.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: azure;
  background-color: rgba(47, 150, 247, 0.966);
  position: fixes;
}
.description {
  color: azure;
  text-decoration: none;
}
.left1 {
  color: azure;
  text-decoration: none;
  position: relative;
  left: 150px;
}
.left2 {
  color: azure;
  text-decoration: none;
  position: relative;
  left: 80px;
}
.right1 {
  color: azure;
  text-decoration: none;
  position: relative;
  right: 80px;
}
.right2 {
  color: azure;
  text-decoration: none;
  position: relative;
  right: 150px;
}

.button1 {
  height: 30px;
  background-color: rgba(47, 150, 247, 0.966);
  color: azure;
  width: 100px;
  border: 1px solid azure;
  border-radius: 20px;
  position: relative;
  left: 50px;
}
.button2 {
  height: 30px;
  width: 100px;
  border: 1px solid azure;
  border-radius: 20px;
  background-color: azure;
  position: relative;
  right: 70px;
}
.firstText {
  background-color: rgba(47, 150, 247, 0.966);
  text-align: center;
  color: azure;
}
body {
  font-family: "Roboto Slab", serif;
}
.text {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
  width: auto;
}
.boxes {
  display: flex;
  flex-direction: column;
  width: 350px;
}
h4 {
  margin-bottom: 0px;
  font-size: 22px;
}
.bigger {
  font-size: 25px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.contentMid {
  padding-top: 50px;
  padding-bottom: 90px;
  padding-left: 50px;
  padding-right: 50px;
}
.p_width {
  width: 730px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navSearch {
  width: 14.1%;
  height: 80px;
  font-size: 20px;
}
.bara {
  margin-top: 80px;
  margin-bottom: 110px;
}
